# Core AI stack (mos keladigan versiyalar)
langchain==0.3.27
langchain_openai==0.3.5
langgraph==0.6.12
openai==1.59.6

# Qo‘shimcha
python-dotenv>=1.0.1
requests>=2.32.3
typing_extensions>=4.12.2

# UI
streamlit==1.49.1
